.elementor-4938 .elementor-element.elementor-element-542219c8{padding:65px 0px 65px 0px;}.elementor-4938 .elementor-element.elementor-element-42a2ec7d{color:#57575A;font-size:16px;}.elementor-4938 .elementor-element.elementor-element-5dd7a044 .elementor-heading-title{color:#033B6A;font-family:"Golos", Sans-serif;font-size:32px;}.elementor-4938 .elementor-element.elementor-element-35d9ce8f{color:#2A2A2A;font-family:"Golos", Sans-serif;}.elementor-4938 .elementor-element.elementor-element-35d9ce8f > .elementor-widget-container{margin:0px 0px 32px 0px;}.elementor-4938 .elementor-element.elementor-element-ca684e4 .elementor-heading-title{color:#033B6A;font-family:"Golos", Sans-serif;font-size:32px;}.elementor-4938 .elementor-element.elementor-element-215e3266{color:#57575A;}.elementor-4938 .elementor-element.elementor-element-a4a5bab .elementor-heading-title{color:#033B6A;font-family:"Golos", Sans-serif;font-size:32px;}.elementor-4938 .elementor-element.elementor-element-cbe6a15{color:#2A2A2A;font-family:"Golos", Sans-serif;}.elementor-4938 .elementor-element.elementor-element-cbe6a15 > .elementor-widget-container{margin:0px 0px 32px 0px;}.elementor-4938 .elementor-element.elementor-element-2fda3ad4:not(.elementor-motion-effects-element-type-background), .elementor-4938 .elementor-element.elementor-element-2fda3ad4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#033B6A;}.elementor-4938 .elementor-element.elementor-element-2fda3ad4{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:65px 0px 72px 0px;}.elementor-4938 .elementor-element.elementor-element-2fda3ad4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4938 .elementor-element.elementor-element-4f589121 .elementor-heading-title{color:#FFFFFF;font-family:"Golos", Sans-serif;font-size:40px;text-transform:uppercase;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table-container{max-width:100%;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table th.pp-table-cell .pp-table-cell-content{color:#FFFFFF;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table th.pp-table-cell .pp-icon svg{fill:#FFFFFF;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table th.pp-table-cell .tablesaw-sortable-arrow{color:#FDFDFD;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table th.pp-table-cell{background-color:#E6E6E600;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table thead .pp-table-cell-content{align-items:center;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table thead .pp-table-cell:first-child .pp-table-cell-content{align-items:center;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table thead .pp-table-cell:last-child .pp-table-cell-content{align-items:center;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table tr{border-style:solid;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table tbody .pp-table-cell-content{align-items:center;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table tbody .pp-table-cell:first-child .pp-table-cell-content{align-items:center;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table tbody .pp-table-cell:last-child .pp-table-cell-content{align-items:center;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table tfoot .pp-table-cell-content{align-items:center;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table tfoot .pp-table-cell:first-child .pp-table-cell-content{align-items:center;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table tfoot .pp-table-cell:last-child .pp-table-cell-content{align-items:center;}.elementor-4938 .elementor-element.elementor-element-7dc7e58 .pp-table-cell-icon img{width:100px;}.elementor-4938 .elementor-element.elementor-element-19d784fa{padding:65px 0px 65px 0px;}.elementor-4938 .elementor-element.elementor-element-44d6e246 .elementor-heading-title{color:#033B6A;font-size:40px;font-weight:500;text-transform:uppercase;}.elementor-4938 .elementor-element.elementor-element-44d6e246 > .elementor-widget-container{margin:0px 0px 12px 0px;}.elementor-4938 .elementor-element.elementor-element-7dab1f0c{color:#57575A;font-size:16px;}.elementor-4938 .elementor-element.elementor-element-6279c53{color:#2A2A2A;font-family:"Golos", Sans-serif;}.elementor-4938 .elementor-element.elementor-element-6279c53 > .elementor-widget-container{margin:0px 0px 32px 0px;}.elementor-4938 .elementor-element.elementor-element-cfa6795:not(.elementor-motion-effects-element-type-background), .elementor-4938 .elementor-element.elementor-element-cfa6795 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F2F2F2;background-image:url("https://2023.dako-diesel.ru/wp-content/uploads/2023/04/image-5.png");background-position:center right;background-repeat:no-repeat;}.elementor-4938 .elementor-element.elementor-element-cfa6795{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-4938 .elementor-element.elementor-element-cfa6795 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4938 .elementor-element.elementor-element-b61d798 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:65px 0px 80px 0px;}.elementor-4938 .elementor-element.elementor-element-bab65f8 > .elementor-container{max-width:1340px;}.elementor-4938 .elementor-element.elementor-element-bab65f8{margin-top:65px;margin-bottom:80px;}.elementor-4938 .elementor-element.elementor-element-f7ad57f > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-49a7a00 .elementor-heading-title{color:#033B6A;font-size:40px;font-weight:500;}.elementor-4938 .elementor-element.elementor-element-64a21fb{color:#57575A;font-size:16px;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-field-group{padding-right:calc( 26px/2 );padding-left:calc( 26px/2 );margin-bottom:10px;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-form-fields-wrapper{margin-left:calc( -26px/2 );margin-right:calc( -26px/2 );margin-bottom:-10px;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-field-group.recaptcha_v3-bottomleft, .elementor-4938 .elementor-element.elementor-element-75335ab .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-4938 .elementor-element.elementor-element-75335ab .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-4938 .elementor-element.elementor-element-75335ab .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-4938 .elementor-element.elementor-element-75335ab .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-field-type-html{padding-bottom:0px;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-button{font-size:16px;}.elementor-4938 .elementor-element.elementor-element-75335ab .e-form__buttons__wrapper__button-next{background-color:#033B6A;color:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-button[type="submit"]{background-color:#033B6A;color:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-4938 .elementor-element.elementor-element-75335ab{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;width:100%;max-width:100%;}.elementor-4938 .elementor-element.elementor-element-9d14bb8 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-bfc18b4:not(.elementor-motion-effects-element-type-background), .elementor-4938 .elementor-element.elementor-element-bfc18b4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://2023.dako-diesel.ru/wp-content/uploads/2023/04/bg-1.png");}.elementor-4938 .elementor-element.elementor-element-bfc18b4{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:73px 0px 40px 0px;}.elementor-4938 .elementor-element.elementor-element-bfc18b4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4938 .elementor-element.elementor-element-fa4872b .elementor-heading-title{color:#033B6A;font-size:40px;font-weight:500;text-transform:uppercase;}.elementor-4938 .elementor-element.elementor-element-fa4872b > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-4938 .elementor-element.elementor-element-0b52a5d{--grid-column-gap:0px;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonials .slick-list{margin-left:calc(-0px/2);margin-right:calc(-0px/2);}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonial, .elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonials-wrap .pp-testimonials-thumb-item:before{background-color:#FFFFFF;border-style:solid;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonial{border-color:#033B6A;border-radius:0px 0px 0px 0px;padding:32px 32px 32px 32px;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonials-wrap .pp-testimonials-thumb-item:before{border-color:transparent transparent #033B6A #033B6A;margin-top:-0px;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonial-outer{padding:0px 30px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonial-content{text-align:left;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonial-name{color:#033B6A;font-size:18px;font-weight:600;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonials-image-stacked .pp-testimonial-image, .elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonial-skin-7 .pp-testimonial-image{margin-bottom:10px;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonials-image-inline .pp-testimonial-image, .elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonial-skin-5 .pp-testimonial-image, .elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonial-skin-8 .pp-testimonial-image{margin-right:10px;}.elementor-4938 .elementor-element.elementor-element-0b52a5d.pp-testimonials-h-align-right .pp-testimonials-image-inline .pp-testimonial-image, .elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-testimonial-skin-6 .pp-testimonial-image{margin-left:10px;margin-right:0;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .elementor-star-rating i:before{color:#C8153B;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .elementor-star-rating i{color:#D9D9D9;}.elementor-4938 .elementor-element.elementor-element-0b52a5d .pp-slider-arrow{font-size:48px;background-color:#033B6A;border-style:none;border-radius:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-0b52a5d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-bd920e9 > .elementor-container{max-width:1340px;}.elementor-4938 .elementor-element.elementor-element-bd920e9{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-5e5e3c4{text-align:left;}.elementor-4938 .elementor-element.elementor-element-64f4f3f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-4938 .elementor-element.elementor-element-fbda3f8 .elementor-button{background-color:#033B6A;border-radius:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-fbda3f8{width:var( --container-widget-width, 188px );max-width:188px;--container-widget-width:188px;--container-widget-flex-grow:0;}.elementor-4938 .elementor-element.elementor-element-c5bb96b.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-4938 .elementor-element.elementor-element-c5bb96b > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-4938 .elementor-element.elementor-element-8ede316 .elementor-button{background-color:#C8153B;border-radius:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-8ede316 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-8ede316{width:var( --container-widget-width, 188px );max-width:188px;--container-widget-width:188px;--container-widget-flex-grow:0;}.elementor-4938 .elementor-element.elementor-element-33d3701d{padding:32px 0px 48px 0px;}.elementor-4938 .elementor-element.elementor-element-5fd83c3a .elementor-heading-title{color:#033B6A;font-size:40px;font-weight:500;text-transform:uppercase;}.elementor-4938 .elementor-element.elementor-element-5fd83c3a > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-4938 .elementor-element.elementor-element-2949c52f{--grid-column-gap:32px;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonials .slick-list{margin-left:calc(-32px/2);margin-right:calc(-32px/2);}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial, .elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonials-wrap .pp-testimonials-thumb-item:before{background-color:#FFFFFF;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial{border-radius:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-outer{padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonials-wrap .pp-testimonials-thumb-item:before{margin-top:-0px;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-content{text-align:left;padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-name{color:#033B6A;font-size:18px;font-weight:600;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-image img{width:100%;height:100%;border-style:none;}.elementor-4938 .elementor-element.elementor-element-2949c52f.pp-testimonials-content-bubble.pp-testimonials-h-align-right .pp-testimonial-skin-1 .pp-testimonial-content:after, .elementor-4938 .elementor-element.elementor-element-2949c52f.pp-testimonials-content-bubble.pp-testimonials-h-align-right .pp-testimonial-skin-2 .pp-testimonial-content:after{right:calc(100%/2);}.elementor-4938 .elementor-element.elementor-element-2949c52f.pp-testimonials-content-bubble.pp-testimonials-h-align-left .pp-testimonial-skin-1 .pp-testimonial-content:after, .elementor-4938 .elementor-element.elementor-element-2949c52f.pp-testimonials-content-bubble.pp-testimonials-h-align-left .pp-testimonial-skin-2 .pp-testimonial-content:after{left:calc(100%/2);}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonials-image-stacked .pp-testimonial-image, .elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-skin-7 .pp-testimonial-image{margin-bottom:0px;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonials-image-inline .pp-testimonial-image, .elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-skin-5 .pp-testimonial-image, .elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-skin-8 .pp-testimonial-image{margin-right:0px;}.elementor-4938 .elementor-element.elementor-element-2949c52f.pp-testimonials-h-align-right .pp-testimonials-image-inline .pp-testimonial-image, .elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-skin-6 .pp-testimonial-image{margin-left:0px;margin-right:0;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-image, .elementor-4938 .elementor-element.elementor-element-2949c52f .pp-testimonial-image img{border-radius:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-2949c52f .elementor-star-rating i:before{color:#C8153B;}.elementor-4938 .elementor-element.elementor-element-2949c52f .elementor-star-rating i{color:#D9D9D9;}.elementor-4938 .elementor-element.elementor-element-2949c52f .pp-slider-arrow{font-size:48px;background-color:#033B6A;border-style:none;border-radius:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-2949c52f > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-c6224bc > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-4938 .elementor-element.elementor-element-2da3393:not(.elementor-motion-effects-element-type-background), .elementor-4938 .elementor-element.elementor-element-2da3393 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F5F7F8;}.elementor-4938 .elementor-element.elementor-element-2da3393{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:60px 0px 50px 0px;}.elementor-4938 .elementor-element.elementor-element-2da3393 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-4938 .elementor-element.elementor-element-f328b18{text-align:left;}@media(min-width:768px){.elementor-4938 .elementor-element.elementor-element-c4bb48e{width:64.462%;}.elementor-4938 .elementor-element.elementor-element-64f4f3f{width:18.248%;}.elementor-4938 .elementor-element.elementor-element-c5bb96b{width:16.623%;}}/* Start custom CSS for text-editor, class: .elementor-element-215e3266 */.custom-arrow-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.custom-arrow-list li {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='27' height='10' fill='none'%3e%3cpath stroke='%232A2A2A' stroke-linecap='round' stroke-width='2' d='M1 5h24m0 0-4-4m4 4-4 4'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 26px 20%;
    padding-left: 108px;
    margin-bottom: 32px;
}/* End custom CSS */
/* Start custom CSS for pp-table, class: .elementor-element-7dc7e58 */.cust-table thead {
    background-color: transparent;
}

.cust-table table {
    border-collapse: collapse;
}

.cust-table tr {
    border-width: 1px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.cust-table td,
.cust-table th {
    border-width: 1px;
    color: #fff;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);

    border-left: 0;
    border-right: 0;
    border-top: 0;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-689037dd */.cust-btn-list .elementor-widget-container {
    display: grid;
    gap: 32px;
    grid-template-columns: 300px 300px;
    justify-content: center;
    
}

.cust-button {
    font-family: inherit;
    background-image: none;
    cursor: pointer;
    white-space: nowrap;
    line-height: 18px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 50px;
    text-align: center;
    border: 1px solid transparent;
    color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 0px 0px 0px 0px;
    color: #033B6A;
}

.cust-button--red {
    background: #C8153B;
    color: #ffffff;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-2d7a567 */.cust-wh-link {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 6px;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #033B6A;
    line-height: 1;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-cfa6795 *//* адаптив кастомных секций  */
@media (max-width: 1710px) {
  .custom-sect-promo {
    background-position: center right -20% !important;
  }
}

@media (max-width: 1500px) {
  .custom-sect-promo {
    background-position: center right -35% !important;
  }
}

@media (max-width: 1400px) {
  .custom-sect-promo {
    background-position: center right -50% !important;
  }
}

@media (max-width: 1300px) {
  .custom-sect-promo {
    background-position: center right -70% !important;
  }
}

@media (max-width: 1200px) {
  .custom-sect-promo {
    background-position: center right -125% !important;
  }
}/* End custom CSS */
/* Start custom CSS for pp-testimonials, class: .elementor-element-0b52a5d */.custom-review-announcement-slider .pp-testimonial-skin-2 {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}

.custom-review-announcement-slider .pp-arrow-next .fa-arrow-left {
  transform: rotate(180deg);
}

.pp-slider-arrow {
        background: #033B6A !important;
        color: #fff;
}

.custom-review-announcement-slider .pp-arrow-prev {
    left: -24px;
}

.custom-review-announcement-slider .pp-arrow-next {
    right: -24px;
}

.custom-review-announcement-slider .fas {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.custom-review-announcement-slider .slick-active + .slick-slide {*/
/*    margin-right: 0 !important;*/
/*}*//* End custom CSS */
/* Start custom CSS for pp-testimonials, class: .elementor-element-2949c52f */.custom-review-announcement-slider .pp-testimonial-skin-2 {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
}

.custom-review-announcement-slider .pp-arrow-next .fa-arrow-left {
  transform: rotate(180deg);
}

.pp-slider-arrow {
        background: #033B6A !important;
        color: #fff;
}

.custom-review-announcement-slider .pp-arrow-prev {
    left: -24px;
}

.custom-review-announcement-slider .pp-arrow-next {
    right: -24px;
}

.custom-review-announcement-slider .fas {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.pp-testimonial-content-wrap {*/
/*    display: flex;*/
/*    flex-direction: column-reverse;*/
/*}*/

.custom-review-announcement-slider .slick-active + .slick-slide {
    margin-right: 0 !important;
}

.custom-review-announcement-slider--team .pp-testimonial-footer {
    padding: 32px;
    /*padding-bottom: 0;*/
}

.custom-review-announcement-slider--team .pp-testimonial-skin-7 {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
    margin: 12px !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c6224bc */#custom-map .elementor-element-populated {
    padding: 0 !imortant;
}

#custom-map {
    background-color: #F5F7F8;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Golos';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_Regular-1.woff2') format('woff2'),
		url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_Regular-1.woff') format('woff');
}
@font-face {
	font-family: 'Golos';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_Medium-1.woff2') format('woff2'),
		url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_Medium-1.woff') format('woff');
}
@font-face {
	font-family: 'Golos';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_DemiBold-1.woff2') format('woff2'),
		url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_DemiBold-1.woff') format('woff');
}
@font-face {
	font-family: 'Golos';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_Bold-1.woff2') format('woff2'),
		url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_Bold-1.woff') format('woff');
}
@font-face {
	font-family: 'Golos';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_Black-1.woff2') format('woff2'),
		url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_Black-1.woff') format('woff');
}
@font-face {
	font-family: 'Golos';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_VF.woff2') format('woff2'),
		url('https://2023.dako-diesel.ru/wp-content/uploads/2022/02/Golos-Text_VF.woff') format('woff');
}
/* End Custom Fonts CSS */